<div class="container px-5 mx-auto">
    <ul class="breadcrumb py-3 text-uppercase">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
    </ul>
    <img class="img-fluid" src="../images/hero.jpg" alt="hero image">
</div>
