extends layout

block content
  main
    .main-category
      h2= mainName
      p= mainDescription 
    mixin sub-category
      h3 Subcategories
      each sub in subDataClothing
        img(src="/images/" + sub.image)
        p= sub.page_description
        button view products

      each sub in subDataAccessories
        img(src="/images/" + sub.image)
        p= sub.page_description
        button view products
    +sub-category
