<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
        <title>Alibazon</title>
    </head>
    <body class="container">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main>
            <%- include('home'); %>
        </main>
        <footer class="footer">
            <div class="container text-center mt-5">
                <p>Copyright 2021 - OSF Digital</p>
            </div>
        </footer>
    </body>
</html>