extends layout

block content
  main
    .main-category
      h2= mainName
      p= mainDescription 
    mixin sub-category
      h3 Subcategories
      each sub in data
        img(src='../public/images/#{data.image}')
        p= data.page_description
      button view products
    +sub-category
    +sub-category
