doctype html
html
  head
    title Alibazon
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/header.pug
    block categoriesMen
    block categoriesWomen
    block content
    footer
        p Copyright 2021 - OSF Digital