<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
        <title>Alibazon - Sign Up</title>
    </head>
    <body class="container">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main>
          <div class="container px-5 mx-auto">
            <ul class="breadcrumb py-3 text-uppercase">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/signup">Sign Up</a>
              </li>
            </ul>
        
            <h2>Sign Up</h2>
            <p>Register in Alibazon</p>
        
            <% var errMessage %>
            <section class="row align-items-center">
                <div class="col">
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label class="col-form-label" for="name">Name</label>
                            <% if (!errMessage) { %>
                                <input class="form-control" type="text" name="username" placeholder="Write your name" required>
                            <% } %>
                            <% if (errMessage) { %>
                                <input class="form-control border border-danger" type="text" name="username" placeholder="Write your name" required>
                            <% } %>
                        </div>
                        <div class="form-group">
                          <label class="col-form-label" for="name">E-mail</label>
                          <% if (!errMessage) { %>
                              <input class="form-control" type="email" name="useremail" placeholder="name@email.com" required>
                          <% } %>
                          <% if (errMessage) { %>
                              <input class="form-control border border-danger" type="email" name="useremail" placeholder="name@email.com" required>
                          <% } %>
                        </div>
                        <div class="form-group">
                          <label class="col-form-label" for="name">Password</label>
                          <% if (!errMessage) { %>
                              <input class="form-control" type="password" name="userpassword" placeholder="create a password" required>
                          <% } %>
                          <% if (errMessage) { %>
                              <input class="form-control border border-danger" type="password" name="userpassword" placeholder="create a password" required>
                          <% } %>
                        </div>
                        <button class="btn btn-outline-secondary col-2 mt-3" type="submit">Register now</button>
                    </form>
                </div>
            </section>
            <section class="pt-4">
                <%- include('partials/error'); %>
            </section>
        </div>
        </main>
        <footer class="footer">
            <div class="container text-center mt-5">
                <p>Copyright 2021 - OSF Digital</p>
            </div>
        </footer>
    </body>
</html>

