extends layout

block signin
  .container.px-5.mx-auto
    ul.breadcrumb.py-3.text-uppercase
      li.breadcrumb-item
        a(href='/') Home
      li.breadcrumb-item
        a(href=`/signin`) Sign In

    h2 Sign In
    p Login to Alibazon
    .row.align-items-center
      .col
        form(action="/signin", method="post")
          .form-group
            label.col-form-label E-mail
              input.form-control(type="email", name="useremail", placeholder="name@email.com", required)
          .form-group
            label.col-form-label Password
              input.form-control(type="password", name="userpassword", placeholder="your password", required)
          button.btn.btn-outline-secondary.col-2.mt-3(type='submit') Login now