extends layout

block categoriesWomen
  .main-category
    h2= mainData.name
    p= mainData.page_description
    mixin sub-category
      h3 Subcategories
      each subCat in subResults
        each sub in subCat
          img(src="/images/" + sub.image)
          p= sub.page_description
          button view products
    +sub-category